.steptitle {
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 10px;
    background-color: @ini_background_neu;
    color: @ini_text;
}

div.stepbystep .content {
    margin: 10px;
}

div.stepbystep {
    border: @ini_background_neu;
    border-width: 1px;
    border-style: solid;
    margin: 3px;
}
